@import "../../styles/variables.scss";

.Button {
    padding: 4px 6px;
    border: none;
    border-radius: 2px;
    background-color: $color-primary;
    color: #fff;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
