@import "./styles/variables.scss";


body,
html {
    margin: 0;
    font-family: "Montserrat", "Arial", "Sans-Serif";
    font-size: 14px;
}

svg {
    fill: currentColor;
}

.container {
    $color-github: #24292f;

    padding: $title-height 0;

    &__title {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        box-sizing: border-box;
        height: $title-height;
        background-color: $color-primary;
        color: white;
        font-weight: bold;

        &-logo {
            object-fit: cover;
            margin-right: 10px;
            height: 100%;
        }
    }

    &__credits {
        position: fixed;
        top: 0;
        right: 0;
        padding: 4px;
        color: white;
        background-color: #323232;
        font-weight: bold;

        &-link {
            color: inherit;
        }
    }

    &__footer-link {
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: $bottom-link-height;
        padding: 8px;
        font-weight: bold;

        &--github {
            right: 0;
            background-color: $color-github;
            color: white;
        }

        &-logo {
            margin-right: 10px;
            height: 100%;
            width: auto;
        }
    }

    &__content {
        position: fixed;
        top: $title-height;
        bottom: $bottom-link-height;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
        padding: 10px;
        margin: 10px 0;
    }
}
